<h1>Aplikacja Raportowanie Kategorii</h1>
<label>Wpisz kategorie (oddzielone przecinkiem):</label>
<input [formControl]="searchControl" placeholder="Np. Samochody, Słodycze" />

<div class="menu">
  <h3>Sekcja Menu</h3>
  <ul *ngIf="categories.length > 0">
    <li *ngFor="let category of categories">
      <input
        type="checkbox"
        (change)="moveCategoryToMain(category)"
      />
      <strong (click)="toggleCategory(category)" style="cursor: pointer;">
        {{ category }}
      </strong>
      <ul *ngIf="isCategoryExpanded[category]">
        <li *ngFor="let product of products[category]">
          <input
            type="checkbox"
            (change)="moveProductToMain(category, product)"
          />
          {{ product.nazwa }}
        </li>
      </ul>
    </li>
  </ul>
</div>


<div class="main">
  <h3>Sekcja Główna</h3>
  <ul *ngIf="getSelectedProductCategories().length > 0">
    <li *ngFor="let category of getSelectedProductCategories()">
      <strong>{{ category }}</strong>
      <ul>
        <li *ngFor="let product of selectedProducts[category]">
          {{ product.nazwa }}
        </li>
      </ul>
    </li>
  </ul>
</div>

